.container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.secondcontainer{
  display: flex;
  flex-direction: row;
  
}

.ilogo{
  width: 20vh;
  height: 20vh;
  ;
}

ul{
  list-style-type: none;
  overflow: hidden;
  background-color: #2c2b2b;
}

li{
  float: right;
 
}

li p{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active{
  border: solid rgb(60, 87, 87);
  border-width: 0px 0px 2px 0px;
}

li p:hover{
  border: solid aqua;
  border-width: 0px 0px 2px 0px;
}


.view{
  background-color: #2c2b2b;
  height: 100vh;
}

.TestDiv{
  background-color: rgb(255, 145, 0);
  width: 50px;
  height: 50px;
  
}